# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a



#other
*.v12.suo
*.v11.suo
*.log
*.Build.CppClean.log
*.vcxproj.user
IDE/Obj/
*.sdf

*.exe
*.pdb
*ilk
*.nvuser
Doc/Doxygen/
IDE/
NSight/
*.autosave
*.dll
Terrain3D.pro.user
Makefile
Guitar.config
Bin/Terrain3D.ini
Deployment/Bin/
